# project 4
---
## Predicting The 2024 Presidential Election outcome with Machine Learning algorithm
---
### Data collection
---

**We will need a set `Historical Presidential Election Data` composed of.**

- `Elections results` data 
- `Polling` data from 'FiveThirtyEight'
- `Demographic` data from the 'US Census Bureau'
- `Econimic Indicators` data from the 'Federal Reserve Economic Data(FRED)'
- `Social Media and Sentiment Analysis` data from 'Google Trends'.
---
**The data will covert a period of 20 years, covering the last 5 presidential elections and leading up to the next election.**

#### 1-Dependencies

In [141]:
# Importing dependencies
from pathlib import Path
import pandas as pd

#### 2-Importing datasets

In [144]:
# Importing our election_results data
# Defining the path to the csv file
file_path = Path('Resources/elections_data.csv')

# Reading the csv file into a pandas dataframe
elections_data = pd.read_csv(file_path)

# Displaying the dataframe
elections_data.head()

,year,county_fips,inctot,mortamt1,avrg_age,ftotinc,foodstmp_1_freq,foodstmp_2_freq,sex_2_freq,sex_1_freq,...,empstat_3.0_freq,empstat_2.0_freq,state_po,county_name,democrat,green,liberitarian,other,republican,winner
0,2000,1,24566.4,634.6,46.0,46912.7,93.6,6.4,54.0,46.0,...,38.4,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2,33842.9,1080.1,42.4,65021.9,95.3,4.7,50.3,49.7,...,25.2,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,4,28331.7,814.7,45.3,52826.7,95.8,4.2,52.1,47.9,...,38.3,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,5,22782.6,557.5,46.2,43941.3,92.5,7.5,53.0,47.0,...,37.8,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,6,32245.0,1216.3,43.8,61455.3,95.7,4.3,52.0,48.0,...,35.1,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
elections_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7526 entries, 0 to 7525
Data columns (total 45 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  7526 non-null   int64
 1   county_fips           7526 non-null   int64
 2   inctot                7526 non-null   float64
 3   mortamt1              7526 non-null   float64
 4   avrg_age              7526 non-null   float64
 5   ftotinc               7526 non-null   float64
 6   foodstmp_1_freq       7526 non-null   float64
 7   foodstmp_2_freq       7526 non-null   float64
 8   sex_2_freq            7526 non-null   float64
 9   sex_1_freq            7526 non-null   float64
 10  marst_5_freq          7526 non-null   float64
 11  marst_6_freq          7526 non-null   float64
 12  marst_1_freq          7526 non-null   float64
 13  marst_4_freq          7526 non-null   float64
 14  marst_3_freq          7526 non-null   float64
 15  marst_2_freq          7526 non-null   float64
 16  race_1_freq           7526 non-null   float64
 17  race_2_freq           7526 non-null   float64
 18  race_7_freq           7526 non-null   float64
 19  race_8_freq           7526 non-null   float64
 20  race_5_freq           7526 non-null   float64
 21  race_6_freq           7526 non-null   float64
 22  race_3_freq           7526 non-null   float64
 23  race_4_freq           7526 non-null   float64
 24  race_9_freq           7526 non-null   float64
 25  ctz_stat_1_freq       7526 non-null   float64
 26  ctz_stat_3_freq       7526 non-null   float64
 27  ctz_stat_2_freq       7526 non-null   float64
 28  lang_1_freq           7526 non-null   float64
 29  lang_2_freq           7526 non-null   float64
 30  educ_attain_2.0_freq  7526 non-null   float64
 31  educ_attain_1.0_freq  7526 non-null   float64
 32  educ_attain_3.0_freq  7526 non-null   float64
 33  educ_attain_4.0_freq  7526 non-null   float64
 34  empstat_1.0_freq      7526 non-null   float64
 35  empstat_3.0_freq      7526 non-null   float64
 36  empstat_2.0_freq      7526 non-null   float64
 37  state_po              1670 non-null   object
 38  county_name           1670 non-null   object
 39  democrat              1670 non-null   float64
 40  green                 1670 non-null   float64
 41  liberitarian          1670 non-null   float64
 42  other                 1670 non-null   float64
 43  republican            1670 non-null   float64
 44  winner                1670 non-null   float64
dtypes: float64(41), int64(2), object(2)
memory usage: 2.6+ MB

In [73]:
#Dropping the null values
elections_data = elections_data.loc[elections_data['year']>=2004].dropna()
elections_data

,year,county_fips,inctot,mortamt1,avrg_age,ftotinc,foodstmp_1_freq,foodstmp_2_freq,sex_2_freq,sex_1_freq,...,ctz_stat_2_freq,lang_1_freq,lang_2_freq,educ_attain_2.0_freq,educ_attain_1.0_freq,educ_attain_3.0_freq,educ_attain_4.0_freq,empstat_1.0_freq,empstat_3.0_freq,empstat_2.0_freq
204,2004,1,24921.0,641.6,46.1,47356.2,92.8,7.2,53.7,46.3,...,1.0,96.7,3.3,42.0,49.8,7.4,0.8,56.6,39.6,3.8
205,2004,2,33991.3,1052.3,42.9,61640.0,95.6,4.4,50.1,49.9,...,4.1,89.5,10.5,55.0,35.3,8.7,1.1,68.0,27.1,4.9
206,2004,4,28235.7,847.4,45.4,51519.1,93.4,6.6,52.5,47.5,...,5.5,78.5,21.5,49.6,41.0,8.3,1.1,57.3,39.1,3.6
207,2004,5,22571.0,565.9,46.3,41656.8,91.4,8.6,53.7,46.3,...,1.4,95.5,4.5,39.7,53.8,5.6,0.9,56.8,39.2,3.9
208,2004,6,32599.7,1284.9,44.5,61798.8,96.7,3.3,52.4,47.6,...,15.0,64.7,35.3,51.2,38.1,9.3,1.3,59.8,35.6,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7521,2020,55117,26884.0,704.0,50.3,52592.7,95.6,4.4,49.5,50.5,...,1.8,94.4,5.6,50.9,40.7,7.8,0.6,56.3,42.3,1.4
7522,2020,55127,28065.5,846.0,49.0,63315.2,94.9,5.1,49.4,50.6,...,4.4,91.4,8.6,56.1,33.2,9.1,1.7,61.6,37.6,0.8
7523,2020,55133,38557.0,990.6,50.4,80433.1,95.9,4.1,52.8,47.2,...,3.5,93.1,6.9,59.8,26.5,12.9,0.8,60.7,37.3,2.0
7524,2020,55139,25796.1,667.3,45.9,49219.4,93.5,6.5,47.9,52.1,...,1.6,96.1,3.9,51.1,41.3,7.2,0.4,56.9,41.5,1.6
7525,2020,56000,28415.2,786.1,48.7,57943.3,94.9,5.1,49.7,50.3,...,1.4,93.9,6.1,54.1,36.3,8.5,1.0,59.3,37.9,2.8

In [51]:
#Dropping unwanted columns
elections_data = elections_data.drop(columns = ['state_po','county_name','democrat','green','liberitarian','other','republican','winner'])
elections_data.head()

,year,county_fips,inctot,mortamt1,avrg_age,ftotinc,foodstmp_1_freq,foodstmp_2_freq,sex_2_freq,sex_1_freq,...,ctz_stat_2_freq,lang_1_freq,lang_2_freq,educ_attain_2.0_freq,educ_attain_1.0_freq,educ_attain_3.0_freq,educ_attain_4.0_freq,empstat_1.0_freq,empstat_3.0_freq,empstat_2.0_freq
0,2000,1,24566.4,634.6,46.0,46912.7,93.6,6.4,54.0,46.0,...,1.1,96.5,3.5,41.0,51.9,6.4,0.7,58.4,38.4,3.2
1,2000,2,33842.9,1080.1,42.4,65021.9,95.3,4.7,50.3,49.7,...,4.6,89.4,10.6,53.1,36.5,8.9,1.5,70.0,25.2,4.8
2,2000,4,28331.7,814.7,45.3,52826.7,95.8,4.2,52.1,47.9,...,4.8,79.4,20.6,48.4,43.3,7.5,0.8,58.4,38.3,3.2
3,2000,5,22782.6,557.5,46.2,43941.3,92.5,7.5,53.0,47.0,...,1.1,96.8,3.2,38.3,55.7,5.2,0.8,59.1,37.8,3.2
4,2000,6,32245.0,1216.3,43.8,61455.3,95.7,4.3,52.0,48.0,...,13.9,65.6,34.4,50.2,40.1,8.5,1.2,61.4,35.1,3.6

In [53]:
# Importing Polling data from 'FiveThirtyEight
# Storing URLs from 'FiveThirtyEight' into variables
url1 = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/polls/pres_pollaverages_1968-2016.csv'
url2 = 'https://projects.fivethirtyeight.com/2020-general-data/presidential_poll_averages_2020.csv'

# Reading CSV data into Pandas DataFrames
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)

# Concatenating the DataFrames
polling_df = pd.merge(df1 , df2 , on = ['cycle','state','modeldate','candidate_name','pct_estimate','pct_trend_adjusted'] ,how = 'outer')

# Displaying polling_df
polling_df.head()

,cycle,state,modeldate,candidate_name,candidate_id,pct_estimate,pct_trend_adjusted,timestamp,comment,election_date,...,_defaultbasetime,_numloops,_state_houseeffects_weight,_state_trendline_weight,_out_of_state_house_discount,_house_effects_multiplier,_attenuate_endpoints,_nonlinear_polynomial_degree,_shortpoly_combpoly_weight,_nat_shortpoly_combpoly_weight
0,2016,Alabama,3/3/2016,Donald Trump,9849.0,70.11138,68.63747,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
1,2016,Alaska,3/3/2016,Donald Trump,9849.0,51.63014,49.68174,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
2,2016,Arizona,3/3/2016,Donald Trump,9849.0,44.00000,41.02212,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
3,2016,Colorado,3/3/2016,Donald Trump,9849.0,45.95150,43.51193,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
4,2016,Florida,3/3/2016,Donald Trump,9849.0,46.54603,44.68674,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5

In [75]:
#filtering dataset by date>=2004
polling_df = polling_df.loc[polling_df['cycle'] >= 2004].dropna()
polling_df

,cycle,state,modeldate,candidate_name,candidate_id,pct_estimate,pct_trend_adjusted,timestamp,comment,election_date,...,_defaultbasetime,_numloops,_state_houseeffects_weight,_state_trendline_weight,_out_of_state_house_discount,_house_effects_multiplier,_attenuate_endpoints,_nonlinear_polynomial_degree,_shortpoly_combpoly_weight,_nat_shortpoly_combpoly_weight
4,2016,Florida,3/3/2016,Donald Trump,9849.0,46.546030,44.686740,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
7,2016,Iowa,3/3/2016,Donald Trump,9849.0,43.185200,41.144080,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
9,2016,Michigan,3/3/2016,Donald Trump,9849.0,38.922000,38.485440,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
12,2016,National,3/3/2016,Donald Trump,9849.0,42.921400,42.440010,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
14,2016,New Hampshire,3/3/2016,Donald Trump,9849.0,41.263250,39.642560,18:51:39 14 Jun 2020,full archive 1968-2016,11/8/2016,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97230,2004,Utah,11/2/2004,John Kerry,157.0,24.109276,24.555144,10:08:14 15 Jun 2020,full archive 1968-2016,11/2/2004,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
97232,2004,Virginia,11/2/2004,John Kerry,157.0,43.916727,44.237407,10:08:14 15 Jun 2020,full archive 1968-2016,11/2/2004,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
97233,2004,Washington,11/2/2004,John Kerry,157.0,51.681792,51.776329,10:08:14 15 Jun 2020,full archive 1968-2016,11/2/2004,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
97234,2004,West Virginia,11/2/2004,John Kerry,157.0,44.495975,44.581016,10:08:14 15 Jun 2020,full archive 1968-2016,11/2/2004,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5
97235,2004,Wisconsin,11/2/2004,John Kerry,157.0,46.387916,46.410325,10:08:14 15 Jun 2020,full archive 1968-2016,11/2/2004,...,20.0,5.0,0.5,0.5,0.02,1.0,yes,2.0,0.8,0.5

In [127]:
# Defining the path to the csv file
file1 = Path('Resources/file1.csv')
file2 = Path('Resources/file2.csv')
file3 = Path('Resources/file3.csv')
file4 = Path('Resources/file4.csv')
file5 = Path('Resources/file5.csv')
file6 = Path('Resources/file6.csv')
file7 = Path('Resources/file7.csv')
file8 = Path('Resources/file8.csv')
file9 = Path('Resources/file9.csv')

# Reading the csv file into a pandas dataframe
df1 =pd.read_csv(file1)
df2 =pd.read_csv(file2)
df3 =pd.read_csv(file3)
df4 =pd.read_csv(file4)
df5 =pd.read_csv(file5)
df6 =pd.read_csv(file6)
df7 =pd.read_csv(file7)
df8 =pd.read_csv(file8)
df9 =pd.read_csv(file9)

#concatenating the dataframes into a single dataframe
finances_data = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis = 0)

# Displaying the dataframe
finances_data

,Link_Image,Cand_Name,Cand_Id,Cand_Office,Cand_Office_St,Cand_Office_Dist,Cand_Party_Affiliation,Cand_Incumbent_Challenger_Open_Seat,Total_Receipt,Total_Disbursement,...,Individual_Refund,Party_Committee_Refund,Other_Committee_Refund,Total_Contribution_Refund,Other_Disbursements,Net_Contribution,Net_Operating_Expenditure,Cash_On_Hand_BOP,Debt_Owe_To_Committee,Coverage_Start_Date
0,https://www.fec.gov/data/candidate/P80003338/?...,"OBAMA, BARACK",P80003338,P,US,0.0,DEM,OPEN,7.786430e+08,7.603702e+08,...,5744310.2,300.0,11345.0,5755955.2,47945662.98,4.306975e+09,3.720067e+09,0.00,0.0,01/01/2007
1,https://www.fec.gov/data/candidate/H8FL05116/?...,"CASTAGNERO, CAROL",H8FL05116,H,FL,5.0,DEM,CHALLENGER,0.000000e+00,2.760000e+02,...,0.0,0.0,0.0,0.0,0.00,0.000000e+00,0.000000e+00,0.00,0.0,07/01/2008
2,https://www.fec.gov/data/candidate/H8FL06056/?...,"STEARNS, CLIFFORD B",H8FL06056,H,FL,6.0,REP,INCUMBENT,8.064492e+05,7.897812e+05,...,300.0,0.0,0.0,300.0,267040.00,5.845734e+05,5.108249e+05,2258097.63,0.0,01/01/2007
3,https://www.fec.gov/data/candidate/H8FL06080/?...,"CUNHA, TIMOTHY M",H8FL06080,H,FL,6.0,DEM,CHALLENGER,2.497569e+05,2.497569e+05,...,25.0,0.0,0.0,25.0,0.00,1.287319e+05,1.497160e+05,0.00,0.0,04/01/2008
4,https://www.fec.gov/data/candidate/H8FL07039/?...,"MALLOY, JAMES CLYDE",H8FL07039,H,FL,7.0,DEM,CHALLENGER,3.055300e+04,2.967000e+04,...,0.0,0.0,0.0,0.0,1013.00,1.339800e+04,2.864700e+04,0.00,0.0,12/14/2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4975,https://www.fec.gov/data/candidate/H4MA01091/?...,"MILLERON, NADIA D",H4MA01091,H,MA,1.0,NPA,CHALLENGER,7.485868e+04,3.345893e+04,...,0.0,0.0,0.0,0.0,0.00,7.485868e+04,3.345893e+04,0.00,0.0,01/01/2024
4976,https://www.fec.gov/data/candidate/H4MD06290/?...,"ROYALS, TOM",H4MD06290,H,MD,6.0,REP,OPEN,5.584973e+05,5.537519e+05,...,16610.0,0.0,0.0,16610.0,0.00,5.385963e+05,5.338510e+05,0.00,0.0,07/01/2023
4977,https://www.fec.gov/data/candidate/S2NY00325/?...,"SARE, DIANE WILSON MS",S2NY00325,S,NY,0.0,IND,CHALLENGER,3.581446e+05,3.527994e+05,...,0.0,0.0,0.0,0.0,1500.00,3.518820e+05,3.452994e+05,6444.96,0.0,01/01/2023
4978,https://www.fec.gov/data/candidate/H2AK00556/?...,"AMBROSE, DAVID",H2AK00556,H,AK,0.0,N,CHALLENGER,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.00,0.000000e+00,0.000000e+00,0.00,0.0,NaN
4979,https://www.fec.gov/data/candidate/H2AK01182/?...,"DUTCHESS, LADY DONNA",H2AK01182,H,AK,0.0,N,CHALLENGER,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.00,0.000000e+00,0.000000e+00,0.00,0.0,NaN

In [137]:
finances_data.columns

AttributeError: 'numpy.int64' object has no attribute 'columns'

In [123]:
#df = finances_data.loc[finances_data['Coverage_Start_Date'] >= 1/1/2004].count()
# Assuming 'Coverage_Start_Date' is in datetime format, if not, convert it to datetime first
#finances_data['Coverage_Start_Date'] = pd.to_datetime(finances_data['Coverage_Start_Date'], errors='coerce')

# Filter the DataFrame based on the condition and count the rows
#df = finances_data.loc[finances_data['Coverage_Start_Date'] >= pd.to_datetime('2004-01-01', errors='coerce')].shape[0]

#df
# Convert 'Coverage_Start_Date' to datetime with error handling
finances_data['Coverage_Start_Date'] = pd.to_datetime(finances_data['Coverage_Start_Date'], errors='coerce')

# Filter the DataFrame based on the condition and count the rows
df = finances_data.loc[finances_data['Coverage_Start_Date'] >= pd.to_datetime('2004-01-01', errors='coerce')].shape[0]

df

IndexError: invalid index to scalar variable.

In [81]:
finances_data = finances_data.loc[finances_data['Coverage_Start_Date'] >= 2004].drop()
finances_data

TypeError: '>=' not supported between instances of 'str' and 'int'

### Data Standardization
---
#### 1-Merging the datasets

In [119]:
#merging the 3 datasets
campaign_df = pd.concat([finances_data,polling_df,elections_data],axis = 0)
campaign_df.head()

,Link_Image,Cand_Name,Cand_Id,Cand_Office,Cand_Office_St,Cand_Office_Dist,Cand_Party_Affiliation,Cand_Incumbent_Challenger_Open_Seat,Total_Receipt,Total_Disbursement,...,ctz_stat_2_freq,lang_1_freq,lang_2_freq,educ_attain_2.0_freq,educ_attain_1.0_freq,educ_attain_3.0_freq,educ_attain_4.0_freq,empstat_1.0_freq,empstat_3.0_freq,empstat_2.0_freq
0,https://www.fec.gov/data/candidate/P80003338/?...,"OBAMA, BARACK",P80003338,P,US,0.0,DEM,OPEN,7.786430e+08,7.603702e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.fec.gov/data/candidate/H8FL05116/?...,"CASTAGNERO, CAROL",H8FL05116,H,FL,5.0,DEM,CHALLENGER,0.000000e+00,2.760000e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.fec.gov/data/candidate/H8FL06056/?...,"STEARNS, CLIFFORD B",H8FL06056,H,FL,6.0,REP,INCUMBENT,8.064492e+05,7.897812e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.fec.gov/data/candidate/H8FL06080/?...,"CUNHA, TIMOTHY M",H8FL06080,H,FL,6.0,DEM,CHALLENGER,2.497569e+05,2.497569e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.fec.gov/data/candidate/H8FL07039/?...,"MALLOY, JAMES CLYDE",H8FL07039,H,FL,7.0,DEM,CHALLENGER,3.055300e+04,2.967000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# renaming the columns
elections_df = elections_df.rename(columns = {
                                              'year':'Year','county_fips':'County FIP Code','inctot':'Avg Annual Income',
                                              'mortamt1':'Avg Mortgage','avrg_age':'Avg Age','ftotinc':'Avg Household Income',
                                              'foodstmp_1_freq':'% of With Foodstamps','foodstmp_2_freq':'% Without Foodstamps',	
                                              'sex_2_freq':'%Females','sex_1_freq':'%Males','marst_5_freq':'% Widowed',
                                              'marst_6_freq':'% Never Married','marst_1_freq':'% Married Spouse Present',
                                              'marst_4_freq':'% Divorced','marst_3_freq':'% Seperated','marst_2_freq':'% Married Spouse Absent',
                                              'race_1_freq':'% White','race_2_freq':'% Black','race_7_freq':'% Other Race',
                                              'race_8_freq':'% Two major Races','race_5_freq':'% Japanese','race_6_freq':'% Other Asian',
                                              'race_3_freq':'% Native Indian or Alaska','race_4_freq':'% Chinese','race_9_freq':'% Three or More Races',
                                              'ctz_stat_1_freq':'% Citizen','ctz_stat_3_freq':'% Non-Citizen','ctz_stat_2_freq':'% Naturalized Citizen',
                                              'lang_1_freq':'% Speak_English ','lang_2_freq':'% Other_Language','educ_attain_2.0_freq':'% Bachelor Degree',
                                              'educ_attain_1.0_freq':'% Lower Education','educ_attain_3.0_freq':'% Masters or Professional Certificate',
                                              'educ_attain_4.0_freq':'% Doctoral Degree','empstat_1.0_freq':'% Employed',
                                              'empstat_3.0_freq':'% Never Worked','empstat_2.0_freq':'% Unemployed',
                                              'state_po':'State','county_name':'County_Name','democrat':'Democrat',
                                              'green':'Green','liberitarian':'Independant','other':'Other',
                                              'republican':'Republican','winner':'Winner'
                                            })
#Displaying the dataframe
elections_df.head()

,Year,County FIP Code,Avg Annual Income,Avg Mortgage,Avg Age,Avg Household Income,% of With Foodstamps,% Without Foodstamps,%Females,%Males,...,% Never Worked,% Unemployed,State,County_Name,Democrat,Green,Independant,Other,Republican,Winner
0,2000,1,24566.4,634.6,46.0,46912.7,93.6,6.4,54.0,46.0,...,38.4,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2,33842.9,1080.1,42.4,65021.9,95.3,4.7,50.3,49.7,...,25.2,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,4,28331.7,814.7,45.3,52826.7,95.8,4.2,52.1,47.9,...,38.3,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,5,22782.6,557.5,46.2,43941.3,92.5,7.5,53.0,47.0,...,37.8,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,6,32245.0,1216.3,43.8,61455.3,95.7,4.3,52.0,48.0,...,35.1,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
elections_df.info()

NameError: name 'elections_df' is not defined

In [30]:
#Dropping the null values
elections_df = elections_df.dropna()
elections_df.head()

,Year,County FIP Code,Avg Annual Income,Avg Mortgage,Avg Age,Avg Household Income,% of With Foodstamps,% Without Foodstamps,%Females,%Males,...,% Never Worked,% Unemployed,State,County_Name,Democrat,Green,Independant,Other,Republican,Winner
1529,2008,1003,27222.4,902.2,48.6,53308.6,94.2,5.8,52.5,47.5,...,43.5,2.4,AL,BALDWIN,19386.0,0.0,0.0,756.0,61271.0,1.0
1530,2008,1015,20951.6,551.7,47.1,39712.5,89.1,10.9,54.8,45.2,...,41.1,4.5,AL,CALHOUN,16334.0,0.0,0.0,560.0,32348.0,1.0
1531,2008,1055,24017.6,658.6,48.2,47650.0,94.2,5.8,54.6,45.4,...,46.8,2.9,AL,ETOWAH,13497.0,0.0,0.0,645.0,30595.0,1.0
1532,2008,1073,28109.5,812.4,47.2,54993.2,93.5,6.5,55.0,45.0,...,38.1,3.4,AL,JEFFERSON,166121.0,0.0,0.0,2482.0,149921.0,0.0
1533,2008,1081,24870.4,725.1,40.6,45575.0,92.4,7.6,52.1,47.9,...,36.3,3.8,AL,LEE,21498.0,0.0,0.0,597.0,32230.0,1.0

## Preprocessing
---

In [33]:
# Import our dependencies
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [35]:
#dropping unwanted columns
elections_df = elections_df.drop(columns = ['Year','County FIP Code','County_Name','State'])
elections_df.head()

,Avg Annual Income,Avg Mortgage,Avg Age,Avg Household Income,% of With Foodstamps,% Without Foodstamps,%Females,%Males,% Widowed,% Never Married,...,% Doctoral Degree,% Employed,% Never Worked,% Unemployed,Democrat,Green,Independant,Other,Republican,Winner
1529,27222.4,902.2,48.6,53308.6,94.2,5.8,52.5,47.5,8.3,12.1,...,0.5,54.1,43.5,2.4,19386.0,0.0,0.0,756.0,61271.0,1.0
1530,20951.6,551.7,47.1,39712.5,89.1,10.9,54.8,45.2,8.7,19.5,...,1.2,54.3,41.1,4.5,16334.0,0.0,0.0,560.0,32348.0,1.0
1531,24017.6,658.6,48.2,47650.0,94.2,5.8,54.6,45.4,10.5,13.8,...,0.2,50.3,46.8,2.9,13497.0,0.0,0.0,645.0,30595.0,1.0
1532,28109.5,812.4,47.2,54993.2,93.5,6.5,55.0,45.0,9.5,23.5,...,0.9,58.5,38.1,3.4,166121.0,0.0,0.0,2482.0,149921.0,0.0
1533,24870.4,725.1,40.6,45575.0,92.4,7.6,52.1,47.9,4.9,32.1,...,3.7,59.8,36.3,3.8,21498.0,0.0,0.0,597.0,32230.0,1.0

In [37]:
#converting data type
elections_df['Winner'] = elections_df['Winner'].astype(int)
elections_df.head()

,Avg Annual Income,Avg Mortgage,Avg Age,Avg Household Income,% of With Foodstamps,% Without Foodstamps,%Females,%Males,% Widowed,% Never Married,...,% Doctoral Degree,% Employed,% Never Worked,% Unemployed,Democrat,Green,Independant,Other,Republican,Winner
1529,27222.4,902.2,48.6,53308.6,94.2,5.8,52.5,47.5,8.3,12.1,...,0.5,54.1,43.5,2.4,19386.0,0.0,0.0,756.0,61271.0,1
1530,20951.6,551.7,47.1,39712.5,89.1,10.9,54.8,45.2,8.7,19.5,...,1.2,54.3,41.1,4.5,16334.0,0.0,0.0,560.0,32348.0,1
1531,24017.6,658.6,48.2,47650.0,94.2,5.8,54.6,45.4,10.5,13.8,...,0.2,50.3,46.8,2.9,13497.0,0.0,0.0,645.0,30595.0,1
1532,28109.5,812.4,47.2,54993.2,93.5,6.5,55.0,45.0,9.5,23.5,...,0.9,58.5,38.1,3.4,166121.0,0.0,0.0,2482.0,149921.0,0
1533,24870.4,725.1,40.6,45575.0,92.4,7.6,52.1,47.9,4.9,32.1,...,3.7,59.8,36.3,3.8,21498.0,0.0,0.0,597.0,32230.0,1

In [41]:
# Split our preprocessed data into our features and target arrays
y = elections_df['Winner'].values
X = elections_df.drop('Winner' , axis = 1)


# Split the preprocessed data into a training and testing dataset
X_train , X_test , y_train , y_test = train_test_split(X,y , random_state = 78)

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [45]:

# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver = 'lbfgs' , random_state = 1)
classifier

# Fit the model using training data
classifier.fit(X_train , y_train)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [50]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.
* Print the classification report.

In [53]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[221,   0],
       [  0, 197]])

In [55]:
# Print the classification report for the model
from sklearn.metrics import classification_report
target_names = ["democrat", "republican"]
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

    democrat       1.00      1.00      1.00       221
  republican       1.00      1.00      1.00       197

    accuracy                           1.00       418
   macro avg       1.00      1.00      1.00       418
weighted avg       1.00      1.00      1.00       418

---

## Create a Neural Network Model

### Step 1: Initialize a StandardScaler instance

In [59]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Step 2: Compile, Train and Evaluate the Model

In [82]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5


nm = tf.keras.models.Sequential()

# First hidden layer
nm.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, activation="relu", input_dim =len(X_train_scaled)))

# Second hidden layer
nm.add(tf.keras.layers.Dense(units = hidden_nodes_layer2 , activation = "sigmoid" ))

# Output layer
nm.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nm.summary()

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 8)              │        10,024 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 5)              │            45 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 10,075 (39.36 KB)

 Trainable params: 10,075 (39.36 KB)

 Non-trainable params: 0 (0.00 B)

In [84]:
# Compile the model
nm.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [86]:
# Train the model
fit_model = nm.fit(X_train_scaled , y_train , epochs = 100)

Epoch 1/100

ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense_9" is incompatible with the layer: expected axis -1 of input shape to have value 1252, but received input with shape (None, 40)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 40), dtype=float32)
  • training=True
  • mask=None

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nm.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

14/14 - 0s - 4ms/step - accuracy: 0.9402 - loss: 0.1451
Loss: 0.14508822560310364, Accuracy: 0.940191388130188

### Step 3: Optimize the model with the keras_tuner

In [66]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nm_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nm_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=41))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nm_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))

    nm_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nm_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nm_model

In [68]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [70]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Search: Running Trial #3

Value             |Best Value So Far |Hyperparameter
sigmoid           |relu              |activation
7                 |9                 |first_units
3                 |4                 |num_layers
7                 |1                 |units_0
3                 |3                 |units_1
3                 |3                 |units_2
1                 |9                 |units_3
3                 |3                 |tuner/epochs
0                 |0                 |tuner/initial_epoch
2                 |2                 |tuner/bracket
0                 |0                 |tuner/round

Epoch 1/3

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/base_tuner.py", line 274, in _try_run_and_update_trial
    self._run_and_update_trial(trial, *fit_args, **fit_kwargs)
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/base_tuner.py", line 239, in _run_and_update_trial
    results = self.run_trial(trial, *fit_args, **fit_kwargs)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/tuners/hyperband.py", line 427, in run_trial
    return super().run_trial(trial, *fit_args, **fit_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/tuner.py", line 314, in run_trial
    obj_value = self._build_and_fit_model(trial, *args, **copied_kwargs)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/tuner.py", line 233, in _build_and_fit_model
    results = self.hypermodel.fit(hp, model, *args, **kwargs)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/hypermodel.py", line 149, in fit
    return model.fit(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras/src/utils/traceback_utils.py", line 122, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/input_spec.py", line 227, in assert_input_compatibility
    raise ValueError(
ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense" is incompatible with the layer: expected axis -1 of input shape to have value 41, but received input with shape (None, 40)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 40), dtype=float32)
  • training=True
  • mask=None

RuntimeError: Number of consecutive failures exceeded the limit of 3.
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/base_tuner.py", line 274, in _try_run_and_update_trial
    self._run_and_update_trial(trial, *fit_args, **fit_kwargs)
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/base_tuner.py", line 239, in _run_and_update_trial
    results = self.run_trial(trial, *fit_args, **fit_kwargs)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/tuners/hyperband.py", line 427, in run_trial
    return super().run_trial(trial, *fit_args, **fit_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/tuner.py", line 314, in run_trial
    obj_value = self._build_and_fit_model(trial, *args, **copied_kwargs)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/tuner.py", line 233, in _build_and_fit_model
    results = self.hypermodel.fit(hp, model, *args, **kwargs)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras_tuner/src/engine/hypermodel.py", line 149, in fit
    return model.fit(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/keras/src/utils/traceback_utils.py", line 122, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/input_spec.py", line 227, in assert_input_compatibility
    raise ValueError(
ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense" is incompatible with the layer: expected axis -1 of input shape to have value 41, but received input with shape (None, 40)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 40), dtype=float32)
  • training=True
  • mask=None

In [64]:
 # Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 7,
 'num_layers': 4,
 'units_0': 3,
 'tuner/epochs': 3,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 2,
 'tuner/round': 0,
 'units_1': 1,
 'units_2': 1,
 'units_3': 1}

In [ ]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
best_model.save("Project4.h5")